.navbar-inverse {
    background-image: url(https://designnavigator.daimler.com/img/template/dbdn_bg_1920.jpg);
    border-radius: 0;

}

.navbar-brand > img {
    height: 20px;
    width: auto;
    margin-top: 10px;
}

.navbar-brand {
    line-height: 43px;
    color: #eee !important;
}

.navbar-inverse {
    color: white;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus
li.link-active a:focus {
    color: white;
}