<div class="page-header">
    <h1>Gallery</h1>

    <p>See all images you have saved. Search image descriptions.</p>

    <div class="form-group">
        <div class="col-sm-4">
            <input type="text" class="form-control" id="searchInput" #searchInput>
        </div>
        <button type="submit" class="btn btn-default" (click)="search(searchInput.value)">Search</button>
    </div>
    <div *ngIf="searchResults">
        <h2><b>Search Results</b></h2>
        <div class="results">
            <div *ngFor="let result of searchResults" class="card">
                <img src="{{result.storageUrl}}" />
            </div>
        </div>
    </div>
</div>

<div class="results" *ngIf="savedImages">
    <div *ngFor="let savedImage of savedImages" class="card">
        <img src="{{savedImage.storageUrl}}" />
        <div>
            <h4><b>{{savedImage.description}}</b></h4>
            <div>
                <span class="tag label" 
                [ngClass]="{'label-success': tag.confidence >= 75, 
                            'label-warning': tag.confidence >=5 && tag.confidence < 75,
                            'label-danger': tag.confidence < 5}"
                *ngFor="let tag of savedImage?.tags">
                <span class="confidence">{{tag.confidence}}%</span>
                {{tag.name}}  
            </span>
            </div>
        </div>
        <div *ngIf="!savedImages">
            <h4>No images to display</h4>
        </div>
    </div>
</div>